[Desktop Entry]
Name=PiMonitor
Comment=Monitor your Raspberry Pi
Exec=/home/$USER/PiMonitor-main/PiMonitor.py
Icon=/home/$USER/PiMonitor-main/icon.png
Terminal=true
Type=Application
Categories=Utility;
