[Desktop Entry]
Name=PiMonitor
Comment=Monitor your Raspberry Pi
Exec=/home/pi/PiMonitor/PiMonitor.py
Icon=/home/pi/PiMonitor/icon.png
Terminal=true
Type=Application
Categories=Utility;
